* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: repeat(1fr, 2);
    align-items: center;
}
h1 {
    display: grid;
    grid-row: 1 / 2;
}
form{
    display: grid;
    grid-row: 2 / 3;
    width: clamp(25%, 15vw, 35%);
    margin-left: 2%;
}
form input{
    border-radius: 15px;
    margin: 2%;
}