* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: clamp(150px, 20vw, 400px) 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.nav {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: red;
    color: white;
    padding: 2%;
    text-align: center;
}

.aside {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: yellow;
    color: white;
    padding: 10%;
    text-align: center;
}

.main {
    display: grid;
    grid-template-rows: 10% auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    padding: 2%;
}
.cajaTelefonos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cajaTelefonos div{
    display: grid;
    align-items: center;
    text-align: center;
    background: brown;
    color: white;
    font-size: clamp(18px,1.5vw,32px);
    padding: 2%;
    margin: 1%;
    width: clamp(30%, 25vw, 80%);
    min-height: 20vh;
    height: 8%;
}

.footer {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    background-color: blue;
    color: white;
    padding: 2%;
    text-align: center;
}

